.containerImg{
    overflow: hidden;
}

    .containerImg img{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 150px;
        height: 150px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        object-fit: cover;    
    }