main{
    #renderPedido{
        padding-top: 5rem;
        padding-left: 15rem;
        padding-right: 15rem; 
        padding-bottom: 5rem;   
        h2{
            font-size: $textLg;
        }

        #linkMenu{
            @extend .borde;
            @extend .screenSection;
            div{
                article{
                    @extend .borde;
                    padding: 5rem 15rem 5rem 15rem;
                    a{
                        position: relative;
                        figure{
                            @extend .borde;
                            img{
                                @extend .img-AyB;
                            }
                            figcaption{
                                @extend .hoverHard;
                                @extend .text-center;
                                color: map-get($map: $textColor, $key: 'white');
                                font-size: $textXl;
                                font-weight: $textBold;  
                                
                                position: absolute;
                                top: 30%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }

        td{
            font-family: $fontSecondary;
            font-size: $textMd;
            font-weight: $textLight;
            color: map-get($map: $textColor, $key: 'white');
            padding-top: 2rem;
            padding-bottom: 2rem;
            img{
                width: 100px;
                height: 100px;
            }
            a{
                color: map-get($map: $textColor, $key: 'white');
            }
            .btn{
                margin-left: 2rem;
                margin-right: 2rem;
                font-size: $textMd;
                background-color: map-get($map: $paletaColor, $key: 'BtnSubmit');
                border: none;
                color: map-get($map: $textColor, $key: 'white');
                border-radius: 1rem;
                padding: 1rem;
                text-transform: uppercase;
                &:hover {
                    background-color: map-get($map: $paletaColor, $key: 'BtnSubmitHover');
                }
            }
            #btnEliminarPedido{
                font-size: $textSm;
                background-color: map-get($map: $paletaColor, $key: 'BtnSubmit');
                border: none;
                color: map-get($map: $textColor, $key: 'white');
                border-radius: 1rem;
                padding: 1rem;
                text-transform: uppercase;
                &:hover {
                    background-color: map-get($map: $paletaColor, $key: 'BtnSubmitHover');
                }
            }
        }
    }
}