#privacidad{
    padding-bottom: 5rem;
    background-color: map-get($map: $bgColor, $key: 'section');
    h3{
        margin: 0;
        padding: 3rem;
        color: map-get($map: $textColor, $key: 'white');
        font-size: $titleMd;
        font-weight: $textBold;
    }
    p{
        margin: 0;
        padding: 0 2rem 0 5rem;
        color: map-get($map: $textColor, $key: 'white');
        font-size: $textMd;
        font-weight: $textReg;
    }
    ul{
        margin: 0;
        padding: 0 0 1rem 10rem;
        text-decoration: none;
        color: map-get($map: $textColor, $key: 'white');
        font-size: $textMd;
        font-weight: $textReg;
    }
}